<script setup>
import { useI18n } from 'vue-i18n';
import { usePhraseI18n } from  './i18n';
const { t } = usePhraseI18n(useI18n());
</script>
<template>
  <div>
    <p>
      {{ t("language") }}
      <locale-changer />
    </p>
    <h1>{{ t("title") }}</h1>
    <p>
      {{ t("explanation") }}
    </p>
    <p>
      <input
        v-model="factor1"
        data-autotest-id="factor1"
      > *
      <input
        v-model="factor2"
        data-autotest-id="factor2"
      > =
      <span>{{ factor1 * factor2 }}</span>
    </p>
  </div>
</template>

<script>
import LocaleChanger from './components/LocaleChanger'


export default {
  name: 'App',
  components: {LocaleChanger},
  data() {
    return {
      factor1: 0,
      factor2: 0
    }
  }
}
</script>

<style>
body {
  background-color: black;
}

#app {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  text-align: center;
  color: white;
  margin-top: 60px;
  font-size: 40px;
}

select {
  font-size: 40px;
}

input {
  width: 100px;
  font-size: 40px;
}
</style>
